<div>
  <% @wines.each do |wine| %>
  <div class="row">
    <span>Name: <%= wine.name %></span>
    <span>Country: <%= wine.country %></span>
    <span>Price: <%= wine.price %></span>
    <span>Rate: <%= wine.rate %></span>
    <span><a href="/wines/<%= wine.id %>/edit" class="actionButton">Edit</a></span>
    <span>
    <form action='/wines/<%= wine.id %>/delete' method="post">
      <input type="submit" value="Delete" class="actionForm">
    </form>
    </span>
  </div>
  <% end %>
</div>