
  <% @wines.each do |wine| %>
  <div id="square" class="square">
    <div class="square-top">
      <span class="lining">Name: <%= wine.name %></span> || 
      <span class="lining">Country: <%= wine.country %></span><br>
      <span class="lining">Price: <%= wine.price %></span> || 
      <span class="lining">Rate: <%= wine.rate %></span>
    </div>
    <div class="square-bottom">
      <span><a href="/wines/<%= wine.id %>/edit" class="actionButton">Edit</a></span>
      <span>
      <form action='/wines/<%= wine.id %>/delete' method="post">
        <input type="submit" value="Delete" class="actionForm">
      </form>
      </span>
    </div>
  </div>
  <% end %>
