<h1>Index erb</h1>

<div>
  <% @wines.each do |wine| %>
  <div class="row">
    <span><%= wine.name %></span>
    <span><%= wine.country %></span>
    <span><%= wine.price %></span>
    <span><%= wine.rate %></span>
    <a href="/wines/<%= wine.id %>/edit">Edit</a>
    <form action='/wines/<%= wine.id %>/delete' method="post">
      <input type="submit" value="Delete">
    </form>
  </div>
  <% end %>
</div>